:root {
    --cell-size: 71px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    grid-template-rows: repeat(9, var(--cell-size));

    & div {
        outline: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;

        &.focused {
            outline: 2px solid green !important;
            z-index: 999;
        }
    }
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(var(--cell-size)*3));
    grid-template-rows: repeat(3, calc(var(--cell-size)*3));
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    outline: 2px solid #000;

    & div {
        outline: 1px solid #000;
    }
}